.container{
	width:500px;
	padding-top: 50px;
}
dt{
	background-color: #ccc;
	font-size: 2em;
	line-height: 2em;
	border-bottom: 1px solid #000;
	border-top: 1px solid #fff;
	cursor: pointer;
}

.hide{
	display: none;
}

dt:first-child{ border-top:none;}
dt:nth-last-child(2){border-bottom: none;}