*{
  margin:0;
  padding:0;
}

.slider{
  width: 600px;
  overflow: hidden;
  margin: 50px auto;
}

.slider ul{
  width: 10000px;
}
.slider ul li{
  display: inline;
  float:left;
}
.slider ul li .slide{
  width:600px;
  height: 450px;
  font-size: 30px;
  text-align: center;
}
.slide{
  padding-top: 150px;
}

.slider h2 {
  font-size:2em;
}
li {
  background: red;
}
li:nth-child(2n){
  background: yellow;
}
.nav{
  clear:both;
  margin: auto;
  padding-top: 10px;
  width: 210px;
}

.nav button{
  width: 100px;
}
